@charset "UTF-8";

*{margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url(../midia/backgroundimg.png);
  background-position: center;
  background-size: cover;
  align-items: center;
  display: flex;
  justify-content: flex-start; /* Alinha à esquerda */
  height: 100vh;
}
  
.login-panel {
  padding: 20px;
  margin: 50px;
  text-align: center;
  background-color: rgba(255, 217, 225, 0.9); /* Adiciona opacidade para o efeito de desfoque */
  backdrop-filter: blur(10px); /* Adiciona o efeito de desfoque */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form > a{
  text-decoration: none;
  color: white;
  background-color: #5F4B8B;
  padding: 9px;
  border-radius: 5px;
  margin: 20px;
}

form {
  text-align: center;
}

h1, h2 {
  color: #5F4B8B;
}

label {
  display: block;
  margin: 10px 0;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  background-color: #5F4B8B;
  color: #FFF;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #7E6D9E;
}

.container{
  display: flex;
  gap: 20px;
}